/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Whyte-Inktrap';
  src: url('/figma/fonts/WhyteInktrap-Regular.woff2') format('woff2'),
    url('/figma/fonts/WhyteInktrap-Regular.woff') format('woff'),
    url('/figma/fonts/WhyteInktrap-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*** abstract ***/
.searchBar {
  -webkit-box-shadow: 0 9px 14px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 9px 14px 0 rgb(0 0 0 / 10%);
  border: 1px solid #000000;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 6px;
  outline: none;
}

.formSearch:hover .searchBar {
  border: 1px solid #4C5FD5
}

.formSearch:hover .arrow-svg {
  fill: #4C5FD5
}

.searchBarText {
  margin: 0 0 1rem
}

.arrow-svg {
  fill: #000000;
  transform: translateY(-50%);
  position: absolute;
  right: 15px;
  bottom: -5px;
  z-index: 1;
  width: 28px;
  /* z-index: 100; */
  transition: all .3s;
}

.arrow-svg:hover {
  fill: #4C5FD5
}


/*** figma ***/
.selectCountry {
  background-image: url(/figma/down.svg);
  background-position-x: calc(100% - 15px);
  background-position-y: 55%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.carousel {
  /* transform: translate3d(0%, 0px, 0px); */
  transform: translateX(0%);
  transition: transform 1s;
}

.svg-cutout {
  stroke: #000000;
  stroke-width: 4px;
}

.hover-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 70px;
  font-weight: 700;
  width: fit-content;
  height: fit-content;
  margin: auto;
  opacity: 0;
  padding: 12px 24px 10px;
  z-index: 30;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
}

.slide:hover .hover-text {
  opacity: 1;
}

/* slide buttons */
.button-next-slide {
  right: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  border: none;
  bottom: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  padding: 82px 20px 20px;
  position: absolute;
  top: 0;
}

.button-prev-slide {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  border: none;
  bottom: 0;
  left: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  padding: 82px 20px 20px;
  position: absolute;
  top: 0;
}

/* about text */
.about-us-text {
  position: absolute;
  bottom: -90px;
  right: calc(50vw - 620px);
}

.animation--rotate {
  -webkit-animation: rotate 10s linear 0s infinite;
  animation: rotate 10s linear 0s infinite;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}

.highfive {
  opacity: 0;
  -webkit-transform: translateX(15px) scale(.9);
  transform: translateX(15px) scale(.9);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, -webkit-transform .3s ease;
  -o-transition: opacity .3s ease, transform .3s ease;
  transition: opacity .3s ease, transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease;
}

.hand {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.badge:hover .hand {
  transform: translateX(-12px);
}

.badge:hover .highfive {
  opacity: 1;
  transform: translateX(8px);
}

.navbar {
  -webkit-transition: background-color .3s, -webkit-transform .3s;
  transition: background-color .3s, -webkit-transform .3s;
  -o-transition: transform .3s, background-color .3s;
  transition: transform .3s, background-color .3s;
  transition: transform .3s, background-color .3s, -webkit-transform .3s;
}

.image-sizer {
  border: 2px solid transparent;
  transition: border-color .3s, opacity .3s;
  /* transition: all 0.3s; */
}

.image-sizer:hover .image3 {
  z-index: -1;
  transition: 0.2s;
}

.text-image {
  margin: 0 7px;
}

/* tape(marquee) */
.tape {
  -webkit-animation: marquee 15s linear infinite;
  animation: marquee 15s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(-100%, 0, 0);
    /* visibility: visible; */
  }
}

/* text-opacity */
.word-opa-con {
  font-family: Whyte-Inktrap;
}

.word-opa-con:hover .word-opa {
  transition: opacity 0.3s;
  opacity: 0.4;
}

.text-image {
  width: 38px;
  height: 52px;
}

.carousel.dragging {
scroll-behavior: auto;
cursor: grab;
}

.carousel.dragging .slide{
  user-select: none;
  pointer-events: none;
}

.slides{
  transition: transform 1s; 
}


/*** opacity ***/

/*** motion ***/
body{
--black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--white);
  --accent: var(--blue);
}
 

#root{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.refresh{
  /* padding: 5px; */
  position: absolute;
  border: 1px dotted var(--accent);
  border-radius: 5px;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}

.refresh path{
  fill: var(--accent)
}

.box{
  width: 200px;
height: 200px;
border-radius: 50%;
background: var(--accent);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-top: 1px dotted var(--accent);
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px,
      var(--background) 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  font-size: 14px;
  line-height: 14px;
}

footer svg {
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  color: var(--accent);
}

code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
}